.skills {
  height: calc(100vh - 5.25rem);
  background-color: var(--dark);
}

.logos {
  width: 160px;
  margin-bottom: 5rem;
  object-fit: contain;
}

.logos:hover {
  transition: transform 400ms ease-in;
  transform: scale(1.2);
}

.white-bg {
  background-color: white;
  border-radius: 18%;
}

.skills-hr {
  width: 6.5rem !important;
  margin-top: -3px !important;
  padding: 0;
  margin: 0;
  border: none;
  height: 4px;
  background: #720e9e;
  border-radius: 4px;
  opacity: 0.7;
}

.es-hr {
  width: 14rem !important;
  margin-top: -3px !important;
  padding: 0;
  margin: 0;
  border: none;
  height: 4px;
  background: #720e9e;
  border-radius: 4px;
  opacity: 0.7;
}

.logos-col {
  margin-bottom: 4rem;
}

.first-skills-row {
  margin-bottom: -2rem;
}


@media (max-width: 992px) {
  .logos {
    width: 50px;
  }

  .skills {
    height: 100%;
  }
}