.home {
  height: calc(100vh - 5.25rem);
  background-color: var(--dark);
}

.firstCol {
  height: calc(100vh - 11rem);
}

.image:hover img {
  transition: transform 200ms ease-in;
  transform: scale(1.2);
  filter: invert(80%) sepia(100%) saturate(6937%) hue-rotate(286deg) brightness(75%) contrast(95%);
}

.home-icons-col {
  margin-top: -2rem !important;
}